
body {
  margin:50px,50px;
  font-family:'YuMincho','游明朝','serif' ;
  color:#444;
}

h1 {
font-size:1.5em;
}

h2{
  font-size:1.2em
}

h3{
  font-size:1.1em;
}

p {
font-size:0.9em;  
}

.summary-img{
  max-width:45%;
  height:auto;
  background:#f11;
}

.summary-right{
  background:#f00;
}

.aboutMe{
  background:#2ff;
}

#works-back{
  backgraoud-color:#F5FFFA;
}
